[submodule "iot-core-component"]
	path = iot-core-component
	url = https://github.com/WPTechInnovation/wpw-sdk-iot-core.git
	branch = master
[submodule "wpw-sdk-thrift"]
	path = wpw-sdk-thrift
	url = https://github.com/WPTechInnovation/wpw-sdk-thrift.git
	branch = master
