<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>The Smart Parking Demo - producer - powered by Worldpay IoT Payments</title>
	<link rel="stylesheet" href="css/foundation.css"></link>
	<link rel="stylesheet" href="css/app.css"></link>
	<link rel="stylesheet" href="css/producer.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet"></link>
	<script src="js/jquery-2.1.4.js"></script>
</head>

<body class="fullBodyFont">
	<div class="row" id="JSON-on-LCD">
		<div class="line1 frameOn" id="headerFrame">
			<span id="jsonBoxFlow"></span>
		</div>
		<div class="line2">
			<span id="jsonBoxDescription"></span>
		</div>
		<div class="line3">
			<span id="jsonBoxUnits"></span>
		</div>
		<div class="line4">
			<span id="jsonBoxPrice"></span>
		</div>
		<div class="line5">
			<span id="jsonBoxBatt"></span>
		</div>
		<div class="line6">
			<span id="jsonTimestamp"></span>
		</div>
	</div>
	<script src="js/wp-demo-prod.js"></script>
</body>
</html>
