<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>The Smart Parking Demo - powered by Worldpay IoT Payments</title>
	<link rel="stylesheet" href="css/car-example.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet"></link>
	<script src="js/jquery-2.1.4.js"></script>
</head>

<body class="">
	<div class="outerFrame" >
		<img src="/images/battery.png" id="batteryIcon"></img>
		<div id="battery"
			class="battery outer"
			><input type="range" min="1" max="100" value="0" step="1" class="slider" id="battRange"
			    /><div class="battery fg" id="batteryChargeBar"
				><div class="battery text" id="batteryValText">54%</div
			><div class="battery bg" id="batteryBackgBar"></div
			></div>
		</div>
		<div id="commDetails">Communication Details</div>
		<div class="footer"><div id="pluginButton"><span id="rechargeButton">Charge Car Button</span></div></div>
	</div>
	<script src="js/car-example.js"></script>
</body>
</html>
