<!DOCTYPE html>
<html>
<body>
	<h2>Spring MVC Demo - Home Page</h2>
	<hr></hr>
	<div class="row" id="hardJSON">
		<div>
			<span style="width:200px;height:auto;overflow:hidden;" id="jsonBoxFlow"></span>
			<span style="width:102px;height:auto;overflow:hidden;padding:0px;" id="jsonBoxBatt"></span>
		</div>
		<div class="line2">
			<span style="width:304px;height:15px;" id="jsonBoxDescription"></span>
		</div>
		<div class="line3">
			<span style="width:304px;height:15px;" id="jsonBoxUnits"></span>
		</div>
		<div class="line4">
			<span style="width:304px;height:15px;" id="jsonBoxPrice"></span>
		</div>
	</div>
</body>
</html>