#JSON-on-LCD {
	margin:2vh 2vw 0px 2vw;
	font-size:7vmin;
	max-width: 96vw;
	max-height: 96vh;
	width:96vw;
	height:96vh;
	padding:0.5em;
	border-style: solid;
    border-color: #385D8A;
    border-width: 1px;
}
#JSON-on-LCD > div {
	line-height:9vh;
}
#JSON-on-LCD > div.line1 {
	border-radius: 2vw;
    border-width: 2px;
    border-style: solid;
    transition: border 500ms ease-out;
    height: 2.5em;
    align-items: center;
    position: relative;
    padding: 1vw;
}

.frameOn {
	border-color: #FF0000;
}

.frameOff {
	border-color: #FFFFFF;
}
#JSON-on-LCD > div.line2 {
}
#JSON-on-LCD > div > span {
	display:inline-block;
	border:none;
	margin:0px;
}
#jsonTimestamp {
	font-size:0.5em;
	color: black;
	position:fixed;
	left:4vw;
	width:90vw;
	bottom:4vh;
	color:rgba(0,0,0,0.5);
}
