
.watermark {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
}
.watermark::after {
    content: "";
    background: url(/images/padlock.png);
    opacity: 0.1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

#JSON-on-LCD {
    /* margin: 0px 0px 0px 0px; */
    font-size: 7vmin;
    height: 100vh;
    padding: 0.5em;
    border-style: solid;
    border-color: #385D8A;
    border-width: 1px;
}
#JSON-on-LCD > div {
	line-height:9vh;
}
#JSON-on-LCD > div.line1 {
	border-radius: 2vw;
    border-width: 2px;
    border-style: solid;
    transition: border 500ms ease-out;
    height: 2.5em;
    align-items: center;
    position: relative;
    padding: 1vw;
}

.frameOn {
	border-color: #FF0000;
}

.frameOff {
	border-color: #FFFFFF;
}
#JSON-on-LCD > div.line2 {
}
#JSON-on-LCD > div > span {
	display:inline-block;
	border:none;
	margin:0px;
}
#jsonTimestamp {
	font-size:0.5em;
	color: black;
	position:fixed;
	left:4vw;
	width:90vw;
	bottom:4vh;
	color:rgba(0,0,0,0.5);
}
